actionlib==1.11.9
adium-theme-ubuntu==0.3.4
angles==1.9.11
arrow==0.8.0
attrs==16.3.0
BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
bibtexparser==0.6.2
bondpy==1.7.19
bzr==2.7.0
catkin==0.7.6
catkin-pkg==0.3.5
catkin-pkg-modules==0.3.5
catkin-tools==0.4.4
cffi==1.9.1
chardet==2.3.0
configobj==5.0.6
constantly==15.1.0
cryptography==1.5.3
cssselect==1.0.0
defusedxml==0.4.1
diagnostic-updater==1.9.0
docopt==0.6.2
docutils==0.12
dynamic-reconfigure==1.5.48
ecdsa==0.13
empy==3.3.2
enum34==1.1.6
future==0.15.2
futures==3.0.5
gencpp==0.5.5
geneus==2.2.5
genlisp==0.4.16
genmsg==0.5.8
gennodejs==2.0.1
genpy==0.6.5
html5lib==0.999
httplib2==0.9.1
idna==2.1
incremental==16.10.1
ipaddress==1.0.17
keyring==7.3
launchpadlib==1.10.3
lazr.restfulclient==0.13.4
lazr.uri==1.0.3
lxml==3.6.4
mercurial==3.7.3
message-filters==1.12.7
netifaces==0.10.4
nose==1.3.7
numpy==1.11.0
oauth==1.0.1
osrf-pycommon==0.1.3
paramiko==1.16.0
parsel==1.1.0
Pillow==3.1.2
pipreqs==0.4.7
pluginlib==1.10.5
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.17
pycrypto==2.6.1
PyDispatcher==2.0.5
Pygments==2.1
pygobject==3.20.0
pygpgme==0.3
PyOpenGL==3.0.2
pyOpenSSL==16.2.0
pyparsing==2.1.10
Pyrex==0.9.8.5
Pyste==0.9.10
python-dateutil==2.6.0
PyYAML==3.11
queuelib==1.4.2
requests==2.12.1
roman==2.0.0
rosbag==1.12.7
rosboost-cfg==1.13.5
rosclean==1.13.5
roscreate==1.13.5
rosdep==0.11.5
rosdistro==0.6.2
rosdistro-modules==0.6.2
rosgraph==1.12.7
rosinstall-generator==0.1.13
roslaunch==1.12.7
roslib==1.13.5
roslz4==1.12.7
rosmake==1.13.5
rosmaster==1.12.7
rosmsg==1.12.7
rosnode==1.12.7
rosparam==1.12.7
rospkg==1.1.1
rospkg-modules==1.1.1
rospy==1.12.7
rosservice==1.12.7
rostest==1.12.7
rostopic==1.12.7
rosunit==1.13.5
roswtf==1.12.7
scholarly==0.2.2
Scrapy==1.2.1
SecretStorage==2.1.3
selenium==3.0.2
sensor-msgs==1.12.5
service-identity==16.0.0
simplejson==3.8.1
six==1.10.0
smclib==1.7.19
tf==1.11.8
tf2-py==0.5.15
tf2-ros==0.5.15
topic-tools==1.12.7
trollius==2.0.1
Twisted==16.6.0
unity-lens-photos==1.0
vcstools==0.1.39
w3lib==1.16.0
wadllib==1.3.2
wstool==0.1.13
yarg==0.1.9
zope.interface==4.3.2
zs.bibtex==1.0.0
